body {
	min-height: 100vh;
	padding-top: 3.5rem;
	background-color:#e9ecef;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.jumbotron {
	margin-bottom: 5px;
	padding: 2rem;
}

.footer {
	background-color: #e9ecef;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 100px;
}

.cart-image {
	border-radius: 0.25rem;
	box-shadow: 0 0 0 0 rgba(38, 143, 255, 0.0);
	transition: box-shadow .15s ease-in-out;
	width: 100%;
}

.cart-container {
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
	max-width: 100%;
	cursor: pointer;
	padding: 5px 10px;
}

@media (min-width: 700px) {
	.cart-container {
		-ms-flex: 0 0 calc(100% / 2);
		flex: 0 0 calc(100% / 2);
		max-width: calc(100% / 2);
		padding: 5px;
	}
}

@media (min-width: 1400px) {
	.cart-container {
		-ms-flex: 0 0 calc(100% / 3);
		flex: 0 0 calc(100% / 3);
		max-width: calc(100% / 3);
	}
}

@media (min-width: 2100px) {
	.cart-container {
		-ms-flex: 0 0 calc(100% / 4);
		flex: 0 0 calc(100% / 4);
		max-width: calc(100% / 4);
	}
}

@media (min-width: 2800px) {
	.cart-container {
		-ms-flex: 0 0 calc(100% / 5);
		flex: 0 0 calc(100% / 5);
		max-width: calc(100% / 5);
	}
}

@media (min-width: 3500px) {
	.cart-container {
		-ms-flex: 0 0 calc(100% / 6);
		flex: 0 0 calc(100% / 6);
		max-width: calc(100% / 6);
	}
}

#popup {
	background-color: white;
	display: none;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 100;
	padding: 20px;
}

#cart-author-img {
	max-width: 100px;
	max-height: 100px;
	margin-right: 20px;
}

#cart-info {
	padding: 0 !important;
}

#cart-name {
	line-height: 80%;
	font-weight: bold;
}

#cart-author {
	font-weight: bold;
	width: 100%;
}

#cart-link {
	font-weight: bold;
}

#popup-x {
	text-align: right;
	font-weight: bold;
	height: fit-content;
	user-select: none;
	cursor: pointer;
}